<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title – приложение ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.5/jquery.fancybox.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
            @Html.ActionLink("Image Previewer", "Index", "Home", new { @class = "navbar-brand" })
            @using (Html.BeginForm("SearchOnTag", "Home", FormMethod.Post, new { @class = "form-inline" }))
            {
                <input class="form-control mr-sm-2" name="tag" type="text" placeholder="Search" data-autocomplete-source='@Url.Action("AutocompleteSearch", "Home")'>
                <button class="btn btn-success" type="submit">Search</button>
            }
            @Html.Partial("_LoginPartial")
        </nav>

        <div class="container">
            @RenderBody()
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.5/jquery.fancybox.min.js"></script>
</body>
</html>
